<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        nav{
            
            width: 100%;
            display: flex;
            gap:10px;
        }

        nav button{
            height: 70px;
        }
        #orderlist{
            display: flex;

        }
        #delivredlist{
            
        }
       
    </style>
</head>
<body>

    <nav>
        <button class="btn btn-warning w-50" onclick="order()">order list ( <%=orderlist.length%> )</button>
        <button class="btn btn-success  w-50" onclick="delivery()">delivred list ( <%=deliverdlist.length%> )</button>
    </nav>

    <section id="orderlist">
        <div class="container py-5" >
            <h1 style="text-align: center;"> order list</h1>
            <ol>
                <%orderlist.forEach((elem)=>{%>
                <li>
                    <div class="border p-3 mt-3 d-flex " style="border-radius: 10px;">
                        <div class="d-flex gap-4">
                            <img src="../images/uploads/<%=elem.productid[0].photo[0].filename%>" style="height: 150px;" alt="">
                            <div>
                                <h4><%=elem.address[0].username%></h4>
                                <p class="m-0 text-danger"><%=elem.price%></p>
                                <div class="d-flex gap-5 flex-wrap">
                                    <p class="m-0 "><strong>address : </strong><%=elem.address[0].flate_no%>, <%=elem.address[0].area%>, <%=elem.address[0].city%>, <%=elem.address[0].state%>, <%=elem.address[0].country%></p>
                                    <p class="m-0 mx-5"><strong>PinCode : </strong><%=elem.address[0].pincode%></p>
                                </div>
                                <p class="m-0"><strong>phone : </strong><a href="tel:+919039495825"><%=elem.address[0].number%></a></p>
                                <div class="d-flex gap-5">
                                    <p class="m-0"><strong>payment Mode :</strong> <%=elem.paymentmode%></p>
                                    <p class="m-0 mx-5 <%= elem.paymentstatus == 'Success' ? 'text-success' : ' text-danger'%>"><strong class="text-dark">payment Status :</strong> <%=elem.paymentstatus%></p>
                                </div>
                                <p class="m-0"><strong>dilevery status :</strong> <%=elem.deliverystatus == 'approved' ? 'pending' : 'delivered'%></p>
                            </div>
                            <a href="/sell/view/<%=elem._id%>" class="btn btn-danger " style="height: fit-content;">Delivere now</a>  
                        </div>
                    </div>

                </li>
                <% })%>
            </ol>
        </div>
    </section>

    <section id="delivredlist">
        <div class="container py-5" >
            <h1 style="text-align: center;"> delivred list</h1>
            <ol>
                <%deliverdlist.forEach((elem)=>{%>
                <li>
                    <div class="border p-3 mt-3 d-flex justify-content-between" style="border-radius: 10px;">
                        <div class="d-flex gap-4">
                            <img src="../images/uploads/<%=elem.productid[0].photo[0].filename%>" style="height: 150px;" alt="">
                           <div>
                                <h4><%=elem.address[0].username%></h4>
                                <p class="m-0 text-danger"><%=elem.price%></p>
                                <div class="d-flex gap-5 flex-wrap">
                                    <p class="m-0 "><strong>address : </strong><%=elem.address[0].flate_no%>, <%=elem.address[0].area%>, <%=elem.address[0].city%>, <%=elem.address[0].state%>, <%=elem.address[0].country%></p>
                                    <p class="m-0 mx-5"><strong>PinCode : </strong><%=elem.address[0].pincode%></p>
                                </div>
                                <p class="m-0"><strong>phone : </strong><a href="tel:+919039495825"><%=elem.address[0].number%></a></p>
                                <div class="d-flex gap-5">
                                    <p class="m-0"><strong>payment Mode :</strong> <%=elem.paymentmode%></p>
                                    <p class="m-0 mx-5 <%= elem.paymentstatus == 'Success' ? 'text-success' : ' text-danger'%>"><strong class="text-dark">payment Status :</strong> <%=elem.paymentstatus%></p>
                                </div>
                                <p class="m-0"><strong>dilevery status :</strong> <%=elem.deliverystatus == 'approved' ? 'pending' : 'delivered'%></p>
                           </div>
                        </div>
                    </div>
                </li>
                <% })%>
            </ol>
        </div>
    </section>

<script>
    document.querySelector(".orderotp").addEventListener("click",function(){
        var x = document.querySelector("#ema")
        var y = document.querySelector("#ema1")
        axios.get(`/orderotp/${x.value}/${y.value}`).then(function(res){
            alert("otp sent successfully")
        })
    })

</script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>